<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peer2pay.peer2pay">

    <application
        android:name=".appPages.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".appPages.Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".appPages.ConfigureCards" />
        <activity android:name=".appPages.Pay" />
        <activity android:name=".appPages.Receive" />
        <activity android:name=".appPages.AddCard" />
        <activity android:name=".appPages.Setup" />
        <activity
            android:name=".appPages.AddForm"
            android:label="@string/title_activity_add_form"></activity>
    </application>

</manifest>